.lista {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.erro {
  color: red;
}